:root {
  --appWhite: #ffffff;
  --appGray: #999999;
  --appMediumGray: #bbbbbb;
  --appLightGray: #eeeeee;
  --appFaintGray: #f7f7f7;
  --appBlack: #444444;
  --appBlue: #219dce;
  --appBrown: #ce910e;
  --appRed: #e22f4a;
}
