@import '../../styles/breakpoints.scss';

.RepositoryListItem {
  box-sizing: border-box;
  border-bottom: solid 1px var(--appLightGray);
  padding: 12px 16px;
  display: flex;
  align-items: center;
  transition: 0.2s;

  @media (--isPC) {
    padding: 16px 20px;
  }

  &:hover {
    background-color: var(--appFaintGray);
    cursor: pointer;
    transition: 0.2s;
  }

  &:first-child {
    padding: 16px 16px 12px;
    border-radius: 22px 22px 0 0;

    @media (--isPC) {
      padding: 20px 20px 16px;
    }
  }

  &:last-child {
    border: none;
    padding: 12px 16px 16px;
    border-radius: 0 0 22px 22px;

    @media (--isPC) {
      padding: 16px 20px 20px;
    }
  }

  &__main {
    flex-grow: 1;
    max-width: calc(100% - 20px);
  }

  &__nameWithOwner {
    color: var(--appBlack);
    font-size: 18px;
    font-weight: 600;

    @media (--isPC) {
      font-size: 22px;
    }
  }

  &__description {
    color: var(--appGray);
    font-size: 14px;
    padding: 12px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (--isPC) {
      font-size: 16px;
    }
  }
}
