@import '../../styles/breakpoints.scss';

.RepositoryList {
  background: var(--appWhite);
  box-shadow: 0 1px 6px 0 rgba(36, 36, 36, .36);
  box-sizing: border-box;
  max-width: 100%;
  width: 744px;
  border-radius: 22px;

  &__paginationButtonsWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 744px;
    padding: 24px 0 0;
  }

  &__isSearching,
  &__isNotFound {
    padding: 16px 16px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;

    @media (--isPC) {
      font-size: 22px;
    }
  }

  &__isSearching {
    animation: blink 0.5s ease-in-out infinite alternate;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
