@import './styles/colors.scss';
@import './styles/fonts.scss';

body {
  margin: 0;
  font-family: var(--defaultFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
  background: var(--appWhite);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Reset default styles

a {
  color: var(--appBlue);
  text-decoration: none;
}

h1, h2, p, dl, dt, dd {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}
